<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<!-- head -->
<th:block th:fragment="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Shop database">
    <meta name="author" content="Dzgoev Aslan">

    <title>Shop</title>

    <!-- Bootstrap core CSS -->
    <!--<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!--<link href="css/simple-sidebar.css" rel="stylesheet">-->
    <link th:href="@{/css/simple-sidebar.css}" rel="stylesheet">
</th:block>
<!-- /head -->

<!-- Sidebar -->
<th:block th:fragment="sidebar-wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="/home/shop">Магазины</a>
            </li>
            <li>
                <a href="/home/shop/add">Добавить</a>
            </li>
        </ul>
    </div>
</th:block>
<!-- /sidebar -->

<!-- menu -->
<th:block th:fragment="menu">
    <button type="button" href="#menu-toggle" class="btn btn-dark btn-block btn-lg" id="menu-toggle">Меню</button>
</th:block>
<!-- /menu -->

<!-- footscript -->
<th:block th:fragment="footscript">
    <!-- Bootstrap core JavaScript -->
    <!--<script src="vendor/jquery/jquery.min.js"></script>-->
    <script th:src="@{/vendor/jquery/jquery.js}"></script>
    <!--<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/shop.js}"></script>

    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>

</th:block>
<!-- /footscript -->


</body>
</html>