<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/fragments::head">head</th:block>
</head>

<body>
<div id="wrapper">
    <th:block th:replace="fragments/fragments::sidebar-wrapper">sidebar-wrapper</th:block>

    <th:block th:replace="fragments/fragments::menu">menu</th:block>

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <form id="addShopForm">
                <div class="form-group">
                    <label for="name">Название магазина</label>
                    <input type="text" class="form-control" id="name" placeholder="Магнит">
                </div>
                <div class="form-group">
                    <label for="priority">Приоритет</label>
                    <select class="form-control" id="priority">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="type">Тип</label>
                    <select class="form-control" id="type">
                        <option th:each="shopType:${shopTypes}" th:text="${shopType.name}" th:value="${shopType}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="metro">Станция метро</label>
                    <input type="text" class="form-control" id="metro" placeholder="Кропоткинская">
                </div>
                <div class="form-group">
                    <label for="address">Адрес</label>
                    <input type="text" class="form-control" id="address" placeholder="Ленинский Проспект 95">
                </div>
                <div class="form-group">
                    <label for="partner">Представитель</label>
                    <input type="text" class="form-control" id="partner" placeholder="Андрей Карманов">
                </div>
                <div class="form-group">
                    <label for="phoneNumber">Телефон</label>
                    <input type="tel" class="form-control" id="phoneNumber" placeholder="79891352481">
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="haveCookRoom">
                    <label class="form-check-label" for="haveCookRoom">
                        Готовая кухня ?
                    </label>
                </div>
                <div class="form-group">
                    <label for="comment">Подробности</label>
                    <textarea class="form-control" id="comment" rows="3"></textarea>
                </div>
            </form>
            <button id="save" class="btn mb-2 btn-lg btn-block btn-success">Сохранить</button>
        </div>
    </div>
    <!-- /Page content -->
</div>
<th:block th:replace="fragments/fragments::footscript"> </th:block>
<script th:inline="javascript" >
    /*<![CDATA[*/
        var shopObject = [[${shop}]];
        var shopTypes = [[${shopTypes}]];
        if (shopObject !== null) {
            setUpdateMode(shopObject);
        } else {
            shopObject = {};
        }

    /*]]>*/
</script>
</body>
</html>
